doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel="stylesheet", href="/DataTables-1.10.23/css/jquery.dataTables.css")
    script(src="/jquery.min.js")
    script(src="/views.init.js")
    script(src="/DataTables-1.10.23/js/jquery.dataTables.js")
    
  body
    .container
      block content
      block scripts